svg {
    padding: 100px;
}
line {
    stroke: rgb(0,0,255);
    stroke-width: 1;
}

circle {
    fill: rgb(0,0,255);
    r: 4;
}

text {
    font-family: Verdana;
    font-size: 8px;
}

.distance {
    font-size: 14px;
    font-style: italic;
}
